/* Resets */

:root {
  --white: #eceff4;
  --accent: #4064f2;
  --bg: #eceff4;
  --bg-light: #e5e9f0;
  --bg-lighter: #d8dee9;
  --fg: #2e3440;
  --fg-light: #3b4252;
  --fg-lighter: #434c5e;
  --shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nanum Gothic', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

body[data-dark-mode='dark'] {
  --bg: #121212;
  --bg-light: #191919;
  --bg-lighter: #252525;
  --fg: #d8dee9;
  --fg-light: #e5e9f0;
  --fg-lighter: #eceff4;
  --shadow: rgb(15 17 21 / 20%) 0px 3px 6px 0px;
}

body {
  background-color: var(--bg);
  color: var(--fg);
}

a {
  color: #4064f2;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--fg);
}

p {
  font-size: 16px;
  line-height: 30px;
}

button {
  background: var(--bg);
  color: var(--fg);
  border: 2px solid var(--fg);
  border-radius: 4px;
  height: 32px;
  padding: 0 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: var(--fg);
  transition: all 0.2s ease;
}

button:hover {
  border-color: var(--fg);
  outline: #000;
  cursor: pointer;
  color: var(--bg);
  background: var(--fg);
  box-shadow: var(--shadow);
}

input {
  background: var(--bg);
  color: var(--fg);
  border: 0;
  min-height: 32px;
  padding: 0 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  box-shadow: var(--shadow);
  outline: #fff;
  border-radius: 8px;
}

a {
  color: var(--accent);
  text-decoration: none;
}

footer {
  min-height: 32px;
  padding: 16px;
}

/* Dark Mode Resets */

body[data-dark-mode] button:hover {
  background: var(--fg);
  color: var(--bg);
}

body[data-dark-mode] input {
  background: #191919;
  color: var(--fg);
}

/* Classes */

button.no-border {
  border: 0;
}

button.secondary {
  background: var(--bg-light);
}

button.secondary:hover {
  background: var(--fg);
}

button.icon {
  height: 32px;
  width: 32px;
  padding: 0;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

input.large {
  font-size: 18px;
  line-height: 30px;
  padding: 16px;
}

.container-boundaries {
  padding: 16px;
  max-width: 900px;
  margin: 0 auto;
}

.container {
  min-height: 70vh;
}

.text-center {
  text-align: center;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.m-0 {
  margin: 0px;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.p-0 {
  padding: 0px;
}

.p-1 {
  padding: 8px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.fw-normal {
  font-weight: 400;
}

.fw-bold {
  font-weight: 700;
}

.sticky {
  position: sticky;
}

.sticky.sticky-header {
  top: 0;
}

.sticky.sticky-input {
  top: 79px;
}

.bg-default {
  background-color: var(--bg);
}

.list {
  padding: 0;
}

.list-item {
  padding: 16px;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 30px;
  border-radius: 8px;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.list-item:hover {
  cursor: pointer;
  background-color: var(--bg-light);
}

.list-item span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  animation: slide-in-left 0.2s ease;
}

.list-item.marked {
  text-decoration: line-through;
}

.list-item.marked span {
  display: flex;
  color: #a3be8c;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  margin-left: 16px;
  animation: slide-in-left 0.2s ease;
}

.toast {
  background: var(--fg-light);
  color: var(--bg-light);
}

.no-wrap {
  white-space: nowrap;
}

.floating-banner {
  min-height: 40px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  background-color: transparent;
}

.floating-banner > .content {
  margin: 8px;
  border-radius: 8px;
  background: var(--accent);
  color: var(--white);
  padding: 16px;
  animation: slide-in-down 0.4s ease;
}

.hidden {
  display: none;
}

@keyframes slide-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
